-# %div#stationsView
-#     %p
-#         %h3{:style=>"display:inline"} ModuleCode ExamCode ExamTitle

-#         %table.table
-#             %thead
-#                 %tr
-#                     %th{:scope=>"col"} #
-#                     %th{:scope=>"col"} Station Name
-#                     %th