!!!
%head
  = javascript_include_tag 'timer'
  %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
  %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}



%body

  %h1
    %b
      %u John Doe

  %form
    %table{:style=>"border: 1px; width: 100%; border-style: solid"}
      %tr{:style=>"border: 1px; width: 100%; border-style: solid"}
        %th Criteria
        %th Fully Met
        %th Partially Met
        %th Not Met
        %th Comments

      %tr{ style: 'height: 100px'}
        %td lorem ipsum
        %td{ style: 'background-color: #D3D3D3; width: 20%' }
        %td{ style: 'background-color: #C0C0C0; width: 20%' }
        %td{ style: 'background-color: #D3D3D3; width: 20%' }
        %td{ style: 'background-color: #C0C0C0; width: 20%' }

      %tr{ style: 'height: 100px; width: 100px'}
        %td dolor sit amet
        %td{ style: 'background-color: #C0C0C0; width: 20%' }
        %td{ style: 'background-color: #D3D3D3; width: 20%' }
        %td{ style: 'background-color: #C0C0C0; width: 20%' }
        %td{ style: 'background-color: #D3D3D3; width: 20%' }

    %table
      %tr
        %th{ style: 'height: 200px'}
          %textarea{:cols => "50", :rows => "10", :placeholder => "Notes"}

        %th{style: 'width: 20%'}
          %img(src="/img/mic.png")
          %button#record{:style => "width:150px", :type => "button"}record
        %th
          .radio
            %label
              %input{name: "result", type: "radio", value: "pass"}
              Pass
          .radio
            %label
              %input{name: "result", type: "radio", value: "fail"}
              Fail
      %tr
        %td
        %td{:colspan => "2"}
          %audio{:controls => "", :src => ""}
            Your browser does not support the
            %code audio element

      %tr
        %td
        %td
          %p#demo
        %td{:colspan => "2"}
          %button#startTimer{:display => "block", :style =>" width:100%", :type => "button"}Start timer
      %tr
        %td
        %td{ style: 'width: 100%'}
          %input{:onclick => "location.href='http://google.com';", :type => "button", :value => "Submit", :style => "width:100%"}
