- content_for :title, "Home"

.page-header
  %h1
    Welcome [username]!

%p
  Use the navigation bar at the top of the page to access the different features. Refer to the provided instruction pdf if needed.