.flash-messages
    .alert.fade.in
        .container
            = fa_icon('warning', class: 'flash-error')
            No username found. Try again or Close
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss