- @students.each do |student|
    %tr
        %td= student.username
        %td= student.surname
        %td= student.forename
        %td= link_to 'Select', new_station_result_path(username:student.username, station_id:params[:id], examiner_name: params[:form_homepage][:examiner_name])
