-# - if @students.nil?
-#     %tr
-#         %td
-#         %td
-#         %td
-#         %td

-# - else
- @students.each do |student|
    %tr
        %td= student.username
        %td= student.surname
        %td= student.forename
        %td= link_to 'Select', new_station_result_path(username:student.username, station_id:params[:id], examiner_name: @examiner_name)

-# %tr
-#     %td 1
-#     %td 2
-#     %td 3
-#     %td 4
