%h1 Editing station_result

= link_to 'Back', student_result_url(exam_code: @station_result.station.exam.exam_code, username: @station_result.username), class: "btn btn-default"
%br
%br
= render 'form'
%br
