%div#formHead    
    %p #{@exam_show.first.exam_code} #{@exam_show.first.name}
    %h3 #{@stations.first.station_name}
    %span#label-help.pull-right{:style=>"padding-right:1.625em"} #label-help
= render 'ready_screen'