-# %p#notice= notice

-# %p
-#   %b Result:
-#   = @station_result.result_id
-# %p
-#   %b Station:
-#   = @station_result.station_id
-# %p
-#   %b Student:
-#   = @station_result.student_id
-# %p
-#   %b Examiner name:
-#   = @station_result.examiner_name
-# %p
-#   %b Mark:
-#   = @station_result.mark
-# %p
-#   %b Feedback:
-#   = @station_result.feedback
-# %p
-#   %b Audio:
-#   = @station_result.audio

-# = link_to 'Edit', edit_station_result_path(@station_result)
-# \|
-# = link_to 'Back', station_results_path

hello