input[type="radio"] {
    display: none;
}

#timer2{
  color: red;
}

label{
  width: 30%;
  color: white;
  height: 5em;
}

textarea{
  width: 100%;
}

#startTimer{
  width: 50%;
}

.header{
  background-color: #00CED1;
  width: 100%;
}

#record{
  width: 15em;
  background-color: #AAAAFF;
  color: white;
}

#resultButton{
  width: 15em;
  background-color: #AAAAFF;
}

#submitButton{
  background-color: #6666FF;
  color: white;
  width: 25%;
  padding-top: 1em;
}
