input[type="radio"] {
    display: none;
    width: 100%;
}

label{
  width: 30%;
  color: white;
  height: 5em;
}

textarea{
  width: 100%;
}

#startTimer{
  width: 50%;
}

#timer2{
  color: red;
}

#record{
  width: 15em;
  color: white;
}

#stopRecord{
  width: 15em;
  color: white;
}

#resultButton{
  width: 15em;
  background-color: #AAAAFF;
}

#submitButton{
  background-color: #6666FF;
  color: white;
  width: 25%;
  padding-top: 1em;
}

.radio-inline{
  background-color: #333388;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  height: 5em;
}

.header{
  background-color: #00CED1;
  width: 100%;
}
